{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container text-center">
  <div class="container">
    <h1>Welcome to Flourish</h1>
    <p>Beauty therapy to help you shine.</p>
    <button class="btn">Book Now</button>
  </div>

  <!-- About Section -->
  <div class="container">
    <div class="row">
      <h1>ABOUT US</h1>
      <p>Independent massage and therapy services.</p>
    </div>
  </div>

  <!-- Treatments Section -->
  <div class="container">
    <div class="row">
      <h1>OUR TREATMENTS</h1>
      <p>Independent massage and therapy services.</p>
    </div>
  </div>

  <!-- Products Section -->
  <div class="container">
    <div class="row">
      <h1>PRODUCTS</h1>
      <p>Independent massage and therapy services.</p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="container">
    <div class="row">
      <h1>CONTACT</h1>
      <p>Independent massage and therapy services.</p>
    </div>
  </div>
 
</div>
{% endblock %}
